@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1.5s ease-in-out;
  padding: 20px;
  padding-top: 10px;
  margin: 0;
  box-sizing: border-box;
}

.top-row,
.bottom-row {
  width: 100%;
  display: flex;
}

.top-row {
  justify-content: space-between;
  align-items: center;
}

.bottom-row {
  justify-content: center;
  text-align: center;
}

#weather,
#quote {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
}

#weather {
  align-items: flex-end;
}

#weather span:first-child,
#quote span:first-child {
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
}

#weather span:first-child {
  font-size: 20px;
  font-weight: 700;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 150px;
  font-weight: 700;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin: 0;
}

#greeting {
  font-size: 50px;
  margin: 0px 0px 10px 0px;
}

input {
  width: 250px;
  border: none;
  border-bottom: 3px solid white;
  background: none;
  padding: 10px 20px;
  color: white;
  font-size: 25px;
  text-align: center;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

input:focus {
  outline: none;
}

#login-form input {
  margin-bottom: 20px;
}

#search-form input {
  width: 180px;
  border: none;
  text-align: left;
  padding: 8px 10px;
  font-size: 20px;
}

#search-form span {
  width: 0px;
  height: 2px;
  background-color: white;
  display: block;
  visibility: hidden;
}

#search-form:hover span,
#search-form:focus-within span {
  width: 220px;
  visibility: visible;
  transition: width 0.3s ease-in-out;
}

/* @counter-style check {
  system: cyclic;
  symbols: "\2611";
  suffix: " ";
} */

#todo-list {
  list-style: none;
  font-size: 20px;
  padding: 0;
}

#todo-list li {
  display: flex;
  margin-bottom: 10px;
}

#todo-list i {
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.6;
}

#todo-list i:hover {
  color: white;
  opacity: 1;
}
